html {
  font-family: Arial,sans-serif;
  line-height: 1.4;
}
body {
  margin: 1.25em;
}
header, main, footer {
  max-width: 50em;
  margin: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-item-left {
  flex: 60%;
}
.flex-item-right{
  flex: 40%;
}